* {
  box-sizing: border-box;
}

.filterable-product-list {
  width: 384px;
  padding: 16px;
  border: 2px solid #ffa500;
}

.search-bar {
  padding: 16px 16px 0 16px;
  border: 2px solid #0000ff;
}

.search-bar .search-text {
  width: 100%;
}

.search-bar .checkbox {
  margin: 0 16px 0 0;
}

.search-bar .text {
  display: inline-block;
}

.product-table {
  padding: 0 16px 0 16px;
  border: 2px solid #008000;
  margin-top: 16px;
}

.product-table .text {
  display: inline-block;
}

.product-table .text.separate {
  width: 50%;
}

.product-table .text.capitalize {
  text-transform: capitalize;
}

.product-table .text.important {
  font-weight: bold;
}

.product-table .text.error {
  color: #ff0000;
}

.product-category-row {
  border: 2px solid #40e0d0;
}

.product-row {
  border: 2px solid #ff0000;
}
